.terraform
*.tfstate
*.tfplan
*.tfstate.backup
*.tfvars
**/.terraform
**/*.tfstate
**/*.tfstate.backup
**/*.tfvars
**/*.tfplan
.idea
*.iml
_scratch/
*/*.tfvars
**/tfkey
**/tfkey.pub
tfkey
tfkey.pub
ems/

